<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>
    {{>navbar}}


    <!-- main body -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_left">
                        <p>Welcome to About Page</p>
                        <h1>{{ errorpage}} </h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class=" w-100" src="images/bck.jpg" alt="First slide">
                              </div>
                             
                              
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>


</html>